<h2>Client</h2>
<p>
    <a href="#/adduser" class="btn btn-primary">Create new</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        List of Clients
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group pull-left">
                    <label>Search</label>
                    <label>
                        <input type="text" class="form-control" ng-model="searchText" style="font-weight: normal" />
                    </label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group pull-right">
                    Show
                    <label>
                        <select class="form-control" ng-model="itemsPerPage" style="font-weight: normal">
                            <option ng-value="1">1</option>
                            <option ng-value="2">2</option>
                            <option ng-value="5">5</option>
                            <option ng-value="10">10</option>
                            <option ng-value="25">25</option>
                            <option ng-value="50">50</option>
                        </select>
                    </label>
                    Entries
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click="sortBy('Name')">
                        First Name(s)
                        <span class="glyphicon" ng-show="sortColumn=='Name'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Surname')">
                        Surname
                        <span class="glyphicon" ng-show="sortColumn=='Surname'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Identity_Type')">
                        Identity Type
                        <span class="glyphicon" ng-show="sortColumn=='Identity_Type'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Identiy_Number')">
                        Identity Number
                        <span class="glyphicon" ng-show="sortColumn=='Identiy_Number'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Date_Of_Birth')">
                        Date Of Birth
                        <span class="glyphicon" ng-show="sortColumn=='Date_Of_Birth'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in users | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage">
                    <td>{{i.Name}}</td>
                    <td>{{i.Surname}}</td>
                    <td>{{i.Identity_Type}}</td>
                    <td>{{i.Identiy_Number}}</td>
                    <td>{{i.Date_Of_Birth}}</td>
                    <td>
                        <a href="#/edituser/{{i.Id}}">Edit</a> |
                        <a href="" ng-click="deleteUser(i.Id)">Delete</a>
                    </td>
                </tr>
                <tr ng-if="!users || users.length == 0">
                    <td colspan="6" style="text-align: center">
                        No user data to display
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>